<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New subtraction</h1>
  <form action="/wizard_subtract">
  <label for="form_first_number">
    Subtract this:
  </label>
  <input id="form_first_number" name="first_number" text="text">
  <label for="form_second_number">
    from this:
  </label>
  <input type="text" name="second_number" id="form_second_number">
  <button>
    Subtract!
  </button>
</form>
  
</body>
</html>
